header {
    nav {
        padding: 20px;
        display:flex ;
        .logo{
            padding-top: 20px;
            padding-left: 20px;
            img{
                max-width: 150px;
            }
        }
        .links{
            flex: 1;
            width: 100%;
            padding-right: 40px;
            padding-top: 25px;
            padding-left: 35px;
            a{
                // color: black;
                padding-right: 20px;
                padding-left: 20px;
            }
        }
    }
    //TODO add responsive nav for mobile
}